extends ../layout

block header

block content
    h1 Rooms List
    table
        for room in rooms
            tr
                td= room.name
                td
                    a(href="rooms/edit/#{room.roomId}") Edit

