extends ../layout

block header

block content
    h1 Rooms List
    table
        for room in rooms
            tr
                td= room.name
                td
                    a(href="#{room.url}") View
                    span &nbsp;
                    a(href="rooms/edit/#{room.roomId}") Edit
    a(href="./rooms/new") 新規作成
