extends layout

block header
    link(rel='stylesheet', href='/stylesheets/rooms.css')
    script(src="/javascripts/jquery-2.1.1.min.js", type='text/javascript')
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/javascripts/rooms.js", type='text/javascript')
block content
    h1 Room page
    p#btn Welcome to Room #{id}
    p= counter
    div#main
        img#box.gui(src="/images/IconBox.png", width="157px", height="103px")
        img#hot.gui(src="/images/HotIcon.png", width="70px", height="70px")
        img#cold.gui(src="/images/ColdIcon.png", width="70px", height="70px")
        img#floor.gui(src="#{url}", width="600px")
    div#hide
        img#shot.gui(src="/images/SmallHot.png", width="31px", height="31px")
        img#scold.gui(src="/images/SmallCold.png", width="31px", height="31px")
