.proto {
    display: none;
}
div#main {
    position: absolute;
    width: 600px;
    border: solid 1px black;
}
img.gui {
    position: absolute;
    z-index: 1;
}
img#box {
    top: 10px;
    left: 210px;
}

img#hot {
    top: 40px;
    left: 214px;
    cursor: pointer;
}

img#cold {
    top: 40px;
    left: 293px;
    cursor: pointer;
}

img#floor {
    z-index: 0;
    top: 80px;
}