#main {
    position: relative;
}
img.gui {
    position: absolute;
}
img#box {
    top: 10px;
    left: 20px;
}

img#hot {
    top: 80px;
    left: 40px;
}

img#cold {
    top: 80px;
    left: 200px;
}