#main {
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    border: solid 1px black;
}
img.gui {
    position: absolute;
    z-index: 1;
}
img#box {
    top: 10px;
    left: 50%;
    margin-left: -103px;
}

img#hot {
    top: 40px;
    left: 50%;
    margin-left: -98px;
}

img#cold {
    top: 40px;
    left: 50%;
    margin-left: -20px;
}

img#floor {
    z-index: 0;
    top: 80px;
}